/* Navbar Styles */
.nav {
    display: flex;
    align-items: center;
    border-radius: 48px;
    width: 90vw;
    height: 80px;
    background-color: white;
    margin-top: 3%;
    margin-left: 5%;
    gap: 34px;
    justify-content: space-around;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    position: relative;
}

.logo {
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.logo > img {
    width: 323px;
    height: 50px;
    object-fit: cover;
    transform: scale(0.9);
}

.nav-options {
    list-style: none;
    align-items: center;
    display: flex;
    gap: 75px;
    font-size: 22px;
    margin-right: 30px;
}

.nav-options > a {
    text-decoration: none;
    color: #8d8d8d;
    
    font-size: 20px;
    transition: 0.3s ease;
}

.nav-options > a:hover {
    color: rgb(21, 185, 250);
    cursor: pointer;
    text-decoration: none;
}

.nav-btn {
    height: 46px;
    width: 106px;
    border-radius: 21px;
    font-size: 21px;
    background: #1e88e5;
    color: white;
    border: none;
    margin-right: 30px;
}

.nav-btn:hover {
    background-color: #1e88e5b7;
}

.nav-btn:active {
    background-color: #1b79cc;
}

/* User menu options container */
.nav-user-menu {
    list-style: none;
    align-items: center;
    display: flex;
    gap: 75px;
    margin-right: 30px;
}

/* User menu options links */
.nav-user-menu a {
    text-decoration: none;
    color: #8d8d8d;
    font-size: 20px;
    transition: 0.3s ease;
}

.nav-user-menu a:hover {
    color: rgb(21, 185, 250);
    cursor: pointer;
    text-decoration: none;
}

/* Style for Logout button */
.nav-user-menu button {
    height: 46px;
    width: 106px;
    border-radius: 15px;
    font-size: 21px;
    background: #1e88e5;
    color: white;
    border: none;
    margin-right: 30px;
}

.nav-user-menu button:hover {
    background-color: #1e88e5b7;
}
.nav-user-menu button:active {
    background-color: #1b79cc;
}

/* 📱 Responsive Styles */
@media screen and (max-width: 455px) {
    .nav {
        height: 45px;
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-options {
        gap: 8px;
        font-size: 10px;
        margin-right: 8px;
        width: 100%;
        text-align: center;
    }

    .logo {
        margin-left: 7px;
    }

    .logo > img {
        width: 123px;
        height: 30px;
    }

    .nav-btn {
        height: 26px;
        width: 76px;
        font-size: 11px;
    }

    /* Adjust user menu styles for mobile */
    .nav-user-menu {
        display: flex;
        gap: 8px;
    }

    .nav-user-menu a {
        font-size: 12px;
    }

    .nav-user-menu button {
        font-size: 12px;
    }
}
